ultralytics    # to train YOLO tool
opencv-python  # OpenCV, the CV base model
numpy          # numbers cruncher
pybullet       # visualize / simulate arm
pytorch        # more num crushers



