ultralytics            # to train YOLO tool
numpy                  # numbers cruncher
pybullet               # visualize / simulate arm
torch                  # more num crushers
requests               # dep for lots of those
opencv-contrib-python  # library for ArUco markers